---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
    commerce: CollectionEntry<'commerce'>;
}

const { commerce } = Astro.props;
const { data } = commerce;
---

<li class="relative group overflow-hidden border border-black/20">
    <Image src={data.image} alt={data.title} class="size-full object-cover transition-all duration-300 group-hover:scale-105" />
    <div class="absolute text-center inset-0 bg-black/60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-end p-3">
        <h3 class="text-white font-semibold">{data.title}</h3>
        <p class="text-white/80 text-sm">{data.address}</p>
        <p class="text-white/60 text-xs">{data.category}</p>
    </div>
</li>
