---
import { Image } from 'astro:assets';
import logo  from '../assets/images/logo.webp';

import Message from '../assets/svgs/Message.svg';
import Security from '../assets/svgs/Security.svg';
import Clock from '../assets/svgs/Clock.svg';
import File from '../assets/svgs/File.svg';
---


<form id="contact-form" class="flex flex-col gap-y-5 bg-white p-6 rounded-lg border border-black/5">

    <label for="name" class="flex flex-col gap-y-2">
        <span class="text-xs md:text-sm text-label/50">Nombre completo</span>
        <input 
        type="text" 
        placeholder="Juan Perez" 
        id="name" 
        class="border text-sm bg-gray-100 border-black/5 p-2 text-black/80 rounded-sm focus:outline-none focus:ring-1 focus:ring-label transition-all duration-300"
        maxlength="30"
        minlength="3"
        required
        >
    </label>

    <label for="address" class="flex flex-col gap-y-2">
        <span class="text-xs md:text-sm text-label/50">Domicilio</span>
        <input 
        type="text" 
        placeholder="Calle Francia 123" 
        id="address" 
        class="border text-sm bg-gray-100 border-black/5 p-2 text-black/80 rounded-sm focus:outline-none focus:ring-1 focus:ring-label transition-all duration-300"
        maxlength="30"
        minlength="3"
        required
        >
    </label>

    <label for="dni" class="flex flex-col gap-y-2">
        <span class="text-xs md:text-sm text-label/50">DNI</span>
        <input 
        type="text" 
        placeholder="90.132.845" 
        id="dni" 
        class="border text-sm bg-gray-100 border-black/5 p-2 text-black/80 rounded-sm focus:outline-none focus:ring-1 focus:ring-label transition-all duration-300"
        maxlength="8"
        minlength="8"
        inputmode="numeric"
        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 8)"
        required
        >
    </label>
    <button 
    type="submit"
    form="contact-form"
    class="flex items-center justify-center gap-x-2 mt-5 button-gradient-flow px-4 py-2 rounded-sm cursor-pointer">
        <Message />
        <span class="text-sm font-medium">Solicitar financiación</span>
    </button>
        <p class="text-xs text-gray-600/70 flex items-center gap-x-2">
        <Security class="size-4" />
            No compartimos tus datos. Solo para evaluar tu solicitud.
        </p>
</form>

<div class="flex flex-col order-first md:order-last gap-y-10">
    <div class="relative flex flex-col overflow-hidden gap-y-3 bg-gray-200 p-6 md:p-10 rounded-lg border-l-4 border-blue-600">
        <Image src={logo} alt="logo" class="absolute top-3 right-0 md:top-4 md:right-0 size-35 md:size-50"/>
        <span class="block text-4xl md:text-6xl text-label font-semibold">+45</span>
        <h3 class="z-10 md:text-xl font-semibold">  
            Prestamos otorgados este mes
        </h3>
        <p class="text-gray-600 text-xs z-10 md:text-base">+3.000 clientes confian en nosotros</p>
    </div>
    <ul class="flex flex-col gap-y-5 ">
        <li class="flex items-center gap-x-5">
            <div class="flex items-center justify-center bg-gray-200 rounded-md p-2">
                <Security class="text-blue-600" />
            </div>
            <div class="flex flex-col gap-y-1">
                <h4 class="text-sm font-semibold">Datos protegidos</h4>
                <p class="text-gray-600 text-xs">Tu informacion es confidencial y se utiliza para tu solicitud</p>
            </div>
        </li>
        <li class="flex items-center gap-x-5">
            <div class="flex items-center justify-center bg-gray-200 rounded-md p-2">
                <Clock class="text-blue-600" />
            </div>
            <div class="flex flex-col gap-y-1">
                <h4 class="text-sm font-semibold">Tiempo real</h4>
                <p class="text-gray-600 text-xs">Tu solicitud es evaluada en tiempo real</p>
            </div>
        </li>
        <li class="flex items-center gap-x-5">
            <div class="flex items-center justify-center bg-gray-200 rounded-md p-2">
                <File class="text-blue-600" />
            </div>
            <div class="flex flex-col gap-y-1">
                <h4 class="text-sm font-semibold">Documentos</h4>
                <p class="text-gray-600 text-xs">Tu solicitud es evaluada en tiempo real</p>
            </div>
        </li>
    </ul>
</div>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("contact-form");
    form.addEventListener("submit", (e) => {
        e.preventDefault();

        const name = document.getElementById("name").value.trim();
        const address = document.getElementById("address").value;
        const dni = document.getElementById("dni").value;
        const phone = "5492364373183"; 

        const message = `Hola! Soy ${name} y quiero solicitar un credito en MasterCred.\nDomicilio: ${address}\nDNI: ${dni}`;
        const whatsappURL = `https://wa.me/${phone}?text=${encodeURIComponent(message)}`;
        window.open(whatsappURL, "_blank");

        // Vuelve todos los inputs al estado inicial (vacíos)
        form.reset();
    });
});
</script>